@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap');
body{
    font-family: 'Roboto Slab', serif;
    background-color: lightblue;
}

.logo{
    background-color: black;
}
.logo img{
    width: 20%;
    margin: auto auto;
    display: block;
}
.h1{
    text-align: center;
    margin-top: 2rem;
}
.profile{
    width: 20%;
    margin: auto auto;
    display: block;
}
.img1{
    margin-top: 1rem;
    margin: auto auto;
    display: block;
}
.text{
    margin: auto auto;
    display: block;
}
.follwer{
    margin-top:  3rem;
    text-align: center;
    list-style: none;
}
.IG img{
    width: 3rem;
    margin: auto auto;
    display: block;
}
.FB img{
    width: 8%;
    margin: auto auto;
    display: block;
}